:root {
  --bar: #012a53;
  --back: black;
  --font: #8e948e;
  --invertfont: white;
  --a: #097ff5;
}

body {
  display: flexbox;
/*  float:bottom; */
  color: var(--font);
  background-color: var(--back);
  font-family: "Lato", sans-serif;
  margin: 5%;
}

h1, h3{
  color:white;
}

p{
  padding-top: 20px;
}

/*--------------------- Skills bars -----------------------*/

  /* Make sure that padding behaves as expected */
* {
  box-sizing:border-box
}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  color: var(--back);
  text-align: center;
}

.front {
  width: 30%; 
  background-color: var(--a);
} 

.c{
  width: 80%; 
  background-color: var(--a);
} 

.react { 
  width: 10%; 
  background-color: var(--a);
} 

.sql {
  width: 80%; 
  background-color: var(--a);
} 

/* ------------ Skill bottom ----------*/

#cv {
  margin-top: 50px;
  align-items: right;
}

a { 
  font-size: 15px; 
  background-color: var(--font);
  color: var(--invertfont);
  font-weight: normal;
  width: auto;
  height: 30px;
  padding: 10px;
  transition: 0.3s;
  text-decoration: none;
}

a:hover {
  color : var(--invertfont);
  text-decoration: none; 
  background-color: var(--a);
}