:root {
  --bar: #012a53;
  --back: black;
  --white: #ffffff;
  --font: #8e948e;
  --invertfont: white;
  --a: #097ff5;
}

* {
  box-sizing: border-box;
}

body {
     font-family: "Lato", sans-serif;
     background-color: var(--back);
     color: var(--font);
     margin: 20px;
}

h1, h2, h3{
  color:white;
}

a {
  color: var(--a);
}

#map {
  width:100%;
  height: auto;
  margin-right: 2%;
}

  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 7px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: var(--font);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: var(--a);
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: var(--back);
    color: var(--font);
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 40%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

   /* Style the bottom navigation bar */
.bottomnav {
  overflow: hidden;
  background-color: var(--back);
  color: var(--white);
  font-family: "Lato", sans-serif;
}

/* Style the topnav links */
.bottomnav a {
  float: left;
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.bottomnav img {
  width: 20px; 
  height: 20px; 
  float:left;
}


  