
h1 {
  text-align: center;
} 

h1, h2, h4 {
    color:rgb(45, 105, 216);
}

div{
    margin-left: 20%;
    margin-right: 20%;
}

p{
    margin-left: 5%;
}

ul { 
    margin-bottom: 40px;
}

  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
