h1{
    color:darkblue;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
}

h2{
    color:darkblue;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: left 40px;
}

h3{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 20px;
}

div{
    
    margin-left: 20%;
    margin-right: 20%;
}

p{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-style: normal;
    margin-left: 20%;
    margin-right: 20%;
}

ul { 
    margin-bottom: 40px;
}

li{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-style: normal;
    margin-left: 40px;
}


/* Pop up message */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 250px;
    background-color: #331086;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
