:root {
    --back: black;
    --white: #ffffff;
    --font: #8e948e;
    --invertfont: white;
    --a: #097ff5;
}
  
* {
  box-sizing: border-box;
}

body {    
  display:flexbox;
  font-family: "Lato", sans-serif;
  color: var(--font);
  margin: 5%;
}
 
h1, h2, h3 {
  color: var(--white);
}

li {
  padding-bottom: 10px;
}

a {
  color: var(--a);
}

img {
  width: 80%;
  height: auto;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}