:root {
  --a: #097ff5;
  --back: black;
  --font: #8e948e;
  --invertfont: white;
} 

* {
  display :border-box;
}

body { 
  font-family: "Lato", sans-serif;
  background-color: var(--back);
  color:var(--font);
  margin: 5%; 
}

left{
  float :left;
  width: 50%;
}

right{
  float :left;
}

img{
  max-width: 80%;
  height: auto;
}

a { 
      font-size: 15px; 
      background-color: var(--font);
      color: var(--invertfont);
      width: auto;
      height: 30px;
      padding: 10px;
      transition: 0.3s;
      text-decoration: none;
}

  a:hover {
    background-color: var(--a);
  }

  p {
    margin-bottom:30px;
  }

  
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
  