:root {
  --a: #097ff5;
  --back: black;
  --font: #8e948e;
  --invertfont: white;
} 

body { 
  font-family: "Lato", sans-serif;
  background-color: var(--back);
  color:var(--font);
  margin: 5%; 
}

.banner{
  position : relative;
}

.banner .description{
  position :absolute;
  right: 30%;
  bottom: 2%;
  padding: 10px;
  background-color: var(--back);
  color : var(--font)
}

.banner .img{
  max-width: 100%;
}

a { 
      font-size: 15px; 
      background-color: var(--font);
      color: var(--invertfont);
      width: auto;
      height: 30px;
      padding: 10px;
      transition: 0.3s;
      text-decoration: none;
}

  a:hover {
    background-color: var(--a);
  }

  p {
    margin-bottom:30px;
  }

  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  } 
  