/* :root {
  --back: black;
  --font: #8e948e;
  --invertfont: white;
  --a: #097ff5;
  --banner: #1a1919;
  }

body { 
  font-family: "Lato", sans-serif;
  color:var(--font);
  background-color: var(--back);
}
*/
.sidenav{
  position: sticky;
  padding: 10px;
  top: 0px;
  background-color: var(--banner);
}

.sidenav a{
  color: var(--invertfont);
  text-decoration: none;
  transition: 0.3s;
  padding: 0px 10px;
}

#contact {
  float:right;
}

.sidenav a:hover{
  color: var(--a);
}

a { 
  font-size: 15px; 
  background-color: var(--font);
  color: var(--invertfont);
  font-weight: normal;
  width: auto;
  height: 30px;
  padding: 10px;
  transition: 0.3s;
  text-decoration: none;
}

a:hover {
  color : var(--invertfont);
  text-decoration: none; 
  background-color: var(--a);
} */